# chroot build directory
/chroots/
# downloaded packages
/packages/
# package build directory
/build/
# generated configs
/configs/
# docker context dir (empty)
/docker/
# apt package repository
/repo/
# local config
/local-config.sh
