#								-*-conf-*-
# Origin, Label, Description are copied into the Release file
Origin: dbuild
Label: Machinekit
Description: Machinekit dependency packages for @CODENAME@,
  built in dbuild
# copied into Release files; stable, testing or unstable
#
# (the Debian kernel packaging wants anything besides testing or
# unstable when the release looks like '3.8.13-1mk~wheezy1')
Suite: stable
# distribution; dists/<codename> & in Release files (auto-configured)
Codename: @CODENAME@
# List of package architectures in repo
Architectures: amd64 i386 armhf source
# List of distribution components
Components: main
# Sbuild signing key
SignWith: @SIGNING_KEY@
