#								-*-conf-*-
# Origin, Label, Description are copied into the Release file
Origin: Dovetail Automata
Label: Machinekit
Description: Machinekit dependency packages for @CODENAME@,
 courtesy of Dovetail Automata LLC
# copied into Release files; stable, testing or unstable
#
# (the Debian kernel packaging wants anything besides testing or
# unstable when the release looks like '3.8.13-1mk~wheezy1')
Suite: stable
# distribution; dists/<codename> & in Release files (auto-configured)
Codename: @CODENAME@
# What's this for?
#Version: 3.0
Architectures: amd64 i386 armhf source
# List of distribution components
Components: main
# When we are ready...
#SignWith: 
