#								-*-conf-*-
# Origin, Label, Description are copied into the Release file
Origin: dxsbuild
Label: Machinekit
Description: Machinekit dependency packages for @DISTRO@, built in dxsbuild
# copied into Release files; stable, testing or unstable
#
# (the Debian kernel packaging wants anything besides testing or
# unstable when the release looks like '3.8.13-1mk~wheezy1')
Suite: @DISTRO@
# distribution; dists/<codename> & in Release files (auto-configured)
Codename: @DISTRO_CODENAME@
# List of package architectures in repo
Architectures: @DISTRO_ARCHES@ source
# List of distribution components
Components: main
# Sbuild signing key
SignWith: @SIGNING_KEY@
